

<div class="container">
	<h1>Cats</h1>
	
	<div class="row">

		
		<% @cats.each do | cat | %>
			
			<div class="col-md-6 col-sm-4">
				<%= cat.name %><br />
				<%= cat.description %><br />
				<%= image_tag(cat.url, class: "img-responsive") %>
				<br />
			</div>
		<% end %>

	</div>


</div>